In [4]:
#  Find  outputs  (Home  work)
a = (25 , 10.8 , 'Hyd' , True , 3+4j , None , 'Hyd' , 25)
print(a)  #  (25 , 10.8 , 'Hyd' , True , 3+4j , None , 'Hyd' , 25)
print(*a)  #  25 10.8 Hyd True (3+4j) None Hyd 25
print(type(a))  #  <class tuple>
print(len(a))  #  8
print(a[2 : 5])  #  'Hyd',True,3+4j
print(*a[2 : 5])  #  Hyd True (3+4j)
# a[2] = 'Sec'  #  Error Because tuple wont support item modification
# a . append('Sec')  #  Error because tuple is immutable
# a . remove('Hyd')  #  Error because tuple is immutable
b =  10 , 20 , 30
print(b)  #  (10,20,30)
print(b * 2)  #  (10,20,30,10,20,30)
c = 40 , 50 , 60,
print(c)  #  (40 , 50 , 60)
print(type(c))  #  <class tuple>

(25, 10.8, 'Hyd', True, (3+4j), None, 'Hyd', 25)
25 10.8 Hyd True (3+4j) None Hyd 25
<class 'tuple'>
8
('Hyd', True, (3+4j))
Hyd True (3+4j)
(10, 20, 30)
(10, 20, 30, 10, 20, 30)
(40, 50, 60)
<class 'tuple'>

In [5]:
# Find  outputs  (Home  work)
a = (25)
b = 25,
c = 25
d = (25,)
print(type(a))  #  <class int>
print(type(b))  #  <class tuple>
print(type(c))  #  <class int>
print(type(d))  #  <class tuple>
print(a * 4)  #  100
print(b * 4)  #  (25,25,25,25)
print(c * 4)  #  100
print(d * 4)  #  (25,25,25,25)

<class 'int'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>
100
(25, 25, 25, 25)
100
(25, 25, 25, 25)

In [7]:
# tuple()  function  demo  program  (Home  work)
a = tuple('Hyd')
print(a)  #  ('H','y','d')
print(type(a))  #  <class tuple>
print(len(a))  #  3
b = [10 , 20 , 15 , 18]
print(tuple(b))  #  (10 , 20 , 15 , 18)
print(tuple(range(5)))  #  (0,1,2,3,4)
# print(tuple(25))  #  (25)

('H', 'y', 'd')
<class 'tuple'>
3
(10, 20, 15, 18)
(0, 1, 2, 3, 4)

In [8]:
# Find  outputs (Home  work)
a = ()
print(type(a))  #  <class tuple>
print(a)  #  ()
print(len(a))  #  0
b = tuple()
print(b)  #  ()
print(len(b))  #  0

<class 'tuple'>
()
0
()
0

In [9]:
# Tricky program
# Find  outputs (Home  work)
a = (10 , 20 , 30)
print(a)  #  (10,20,30)
print(id(a))  #  12345
a = a * 2  #  Valid
print(a)  #  (10,20,30,10,20,30)
print(id(a))  #  14432

(10, 20, 30)
2821147623872
(10, 20, 30, 10, 20, 30)
2821147470976